body
{
    background: #10223a;
    font: 400 16px/29px "Ubuntu", sans-serif;
    color: white;
}

#bloc_page
{
    width: 900px;
    margin: auto;
    height: 60%;
}
/*========================================================
                     HEADER  Section
==========================================================*/
header {
    background: #333333;
    text-align: center;
    width: auto;
}





section
{
    width: auto;
    display: inline-block;
    border: 1px solid blue;
    vertical-align: top;
    align-content: center;
}


footer {
    width: auto;
    background: #10223A;
    color: #fff;
}